.button-comp {
  --font-family: "Poppins", sans-serif;
  background: #7b6ef6;
  border: 2px solid #7b6ef6;
  border-radius: 12px;
  padding: 16px 32px;
  width: 119px;
  height: 56px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
