.journal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 150px;
}

.form-row {
  display: flex;
  align-items: center;
}

.input {
  border: none;
  background: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "Source Sans 3", sans-serif;
  border-bottom: 1px solid #323232;
  width: 100%;
}

.invalid {
  border: 1px solid red;
  background: #440606;
}

.delete {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
}

.delete:hover {
  background: #ffffff0d;
  border-radius: 50%;
}
